//Main Colors

$white: #FFFFFF;
$background-color: #D9D9D9;
$primary-color: #3C6E71;
$accent-color: #284B63;
$dark-color: #353535;


// Media Queries

$breakpoint-tablet: 768px;
$breakpoint-large: 1024;

// Typography

$line-height: 1.45em;

//Font
$primary-font: 'Nunito', sans-serif;

//Styling

$border-radius: 5px;

//Button effects

$lighten-amount: 15%;